
<html>
  <head><title>FOODLES</title></head>
  <body>
    <h1>FOODLES</h1>
    <p>Welcome to Foodles, a recipe blog.
     Here you can add recipes you like, and keep
     track of the ingredients.</p>
     <ul>
       {% for recipe in all_recipes %}
       <li>
         <h1>{{ recipe.title }}</h1>
         <p>{{ recipe.ingredients }}</p>
         <p>{{ recipe.quantities }}</p>
         <p>{{ recipe.method }}</p>
         <a href="/edit/{{ recipe.id }}">Edit</a>
         <a href="/delete/{{ recipe.id }}">Delete</a>
       </li>
       {% endfor %}
     </ul>
  </body>
</html>
